\documentclass[a4paper]{article} 
\usepackage[english]{babel}
\usepackage[a4paper,margin=1.5cm]{geometry}
\usepackage[utf8]{inputenc}
\usepackage{amsmath}
\usepackage{colortbl}
%\usepackage{textcomp}
%\usepackage{showframe}
%\usepackage{layout}
\definecolor{gray}{RGB}{213,229,255}

\begin{document}
%\layout{}

{\Large (((year))) \hspace{1cm} (((month))) \hspace{1cm} (((day))) \hspace{1cm} (((dayofweek)))}
\hrule 
\vspace{0.5cm}

\begin{center}
    {\small
    \begin{tabular}{ c | c c | c c | c c | c | c c | c | c c | c | c c | c c}
    
    \rowcolor{gray} & \multicolumn{2}{l}{SONNE} & \multicolumn{2}{l|}{} & \multicolumn{6}{l|}{MOND} & \multicolumn{2}{l|}{FRÜHLP} & \multicolumn{5}{c}{FIXSTERNE} \\ 
    \rowcolor{gray} UT1 & \multicolumn{2}{c}{Grt} & \multicolumn{2}{c|}{$\delta$} & \multicolumn{2}{c}{Grt} & Unt & \multicolumn{2}{c|}{$\delta$} & Unt & \multicolumn{2}{c|}{Grt} & Nr & \multicolumn{2}{c}{$\beta$} & \multicolumn{2}{c}{$\delta$} \\
    \rowcolor{gray} & $^\circ$ & ' & $^\circ$ & ' & $^\circ$ & ' & ' & $^\circ$ & ' & ' & $^\circ$ & ' &  & $^\circ$ & ' & $^\circ$ & ' \\
    
    ### for t in ut1
    (((t))) & (((d[t][0]))) & 33,2 & 03 & 22,0 S & 157 & 81,8 & 12,5 & 04 & 14,7 N & 16,4 & 169 & 44,4 & 1 & 357 & 50,7 & 29 & 07,0 N \\ 
      ### if ((t+1) % 5 == 0) and (t >= 4)
              &     &      &    &        &     &      &      &    &        &      &     &      &   &     &      &    &        \\ 
      ### endif
    ### endfor


    \end{tabular}
    }
\end{center}

\begin{center}
    {\small
    \begin{tabular}{ c | c c | c c | c c | c c | c c | c c | c c | c c}

    \rowcolor{gray} & \multicolumn{4}{c|}{VENUS} & \multicolumn{4}{c|}{MARS} & \multicolumn{4}{c|}{JUPITER} & \multicolumn{4}{c}{SATURN} \\ 
    \rowcolor{gray} UT1 & \multicolumn{2}{c}{Grt} & \multicolumn{2}{c|}{$\delta$} & \multicolumn{2}{c}{Grt} & \multicolumn{2}{c|}{$\delta$} & \multicolumn{2}{c}{Grt} & \multicolumn{2}{c|}{$\delta$} & \multicolumn{2}{c}{Grt} & \multicolumn{2}{c}{$\delta$} \\
    \rowcolor{gray} & $^\circ$ & ' & $^\circ$ & ' & $^\circ$ & ' & $^\circ$ & ' & $^\circ$ & ' & $^\circ$ & ' & $^\circ$ & ' & $^\circ$ & ' \\

    0 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    1 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    2 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    3 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    4 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
      &     &      &    &        &     &      &    &        &     &      &    &        &     &      &    & \\ 
    5 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    6 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    7 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    8 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    9 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    &     &      &    &        &     &      &    &        &     &      &    &        &     &      &    & \\ 
    10 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    11 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    12 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    13 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    14 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    &     &      &    &        &     &      &    &        &     &      &    &        &     &      &    & \\ 
    15 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    16 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    17 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    18 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    19 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    &     &      &    &        &     &      &    &        &     &      &    &        &     &      &    & \\ 
    20 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    21 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    22 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 
    23 & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S & 177 & 33,2 & 03 & 22,0 S\\ 

    \end{tabular}
    }
\end{center}


\end{document}